* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: sans-serif;
}
body h1{
    color: #282f59;
}
header{
    /* background-image: url("images/tb7.jpeg"); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    min-height: 100vh;
    box-shadow: var(border-box);
}
.row {
    display: flex;
    align-items: center;
    padding-top: 10rem;
    background: rgb(0, 0, 250, 0.512);
}
.logo{
    width: 120px;
}
.ctn {
    padding: 10px 20px;
    background: linear-gradient(to bottom right, rgb(255,207,145), rgb(255,111,92));;
    border-radius: 50px;
    color: black;
}
.ctn:hover{
    background: linear-gradient(to bottom right, rgb(255,111,92), rgb(255,207,145));
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Desktop responsive */
.about .about_btn{
    font-size: 17px;
    border: none;
    outline: none;
    margin: 0;
}
.about_content{
    display: none;
    position: absolute;
    background: whitesmoke;
    min-width: 160px;
}
.about .about_btn{
    color: black;
}
.about_btn:hover{
    color: black;
    background: rgb(230, 64, 3);
    border-radius: 50px;
    padding: 10px;
}
.about_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.about_content a:hover,
.about_btn:hover{
    color: blue;
    cursor: pointer;
}
.about:hover .about_content{
    display: block;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    /* padding: 0px 50px; */
    align-items: center;
    background: whitesmoke;
    /* position: fixed; */
    height: 15%;
}
.navbar ul{
    flex: 1;
    text-align: right;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    
}
.navbar ul li a:hover{
    color: white;
    background: rgb(230, 64, 3);
    border-radius: 30px;
}

/* mobile responsive */

.logo {
    /* width: 90px; */
    /* height: 90px; */
    margin-left: 10px;
    color: blue;
    font-size: 40px;
    box-shadow: 2px 2px 2px 2px darkblue;
}
.Tech ul{
    flex: 1;
    text-align: right;
    

}
.Tech  .about_btn{
    list-style: none;
    display: inline-block;
    margin: 0px 20px 20px;
}
.Tech li .about_btn{
    text-decoration: none;
    color: black;
    
}
.Tech .about_btn:hover{
    border: none;
}

.Tech{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/* Mobile Responssive */
.navBtn{
    display: none;
}
@media screen and (max-width: 600px){
    .hideOnMobile{
        display: none;
    }
    .navBtn{
        display: block;
    }
    
}
@media screen and (max-width: 600px){
    .Tech{
        width: 100%;
    }
    
}
@media screen and (max-width: 600px){
    .navbar .hideOnMobile{
        display: none;
    }
    .services-img img{
        display: none;
    }
    
}
@media screen and (max-width: 600px){
    .navbar .navBtn{
        display: none;
    }
    
}

/*Team*/ 
.team{
    margin-top:10%
}

.team-top{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0%;
}

.team-to{
    text-align: center;
    font-size: 20px;
}

.team-mem h1{
    font-size: 30px;
}
.team-mem h2{
    color: darkblue;
    margin-bottom: 2%;
    font-size: 20px;

}
.team-mem p{
    text-align: left;
}

.team-mem img{
    width: 50%;
    margin-bottom: 0%;
    
}



.grid-wrapper{
    width: 100%;
    margin-left: 10%;
    display: flex;
} 

@media screen and (max-width: 600px) {
/*team*/

    .team-mem img{
        width: 150px;
        height: 100px;
        margin-left: 30px;
        margin-bottom: 10px;
        border-radius: 20px;
        }

        .grid-wrapper{
            width: 100%;
        }

        .team-mem{
            width: 70%;
            margin-left: 50px;
        }

        .team-mem{
            padding: 2rem;
            text-align: center;
            border-radius: 5px;
            background-color: lightcoral;
            display: grid;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            transition: transform 1s ease-in-out;
            overflow: scroll;
        }
    }